<div class="grid">

<!--   <div class="grid__item post-large--two-thirds push--post-large--one-sixth">
 -->
    <div class="grid__item">
<style>
  body{
    font-size:17px;
  }
  .one-half-column-left {
width:48%;
float:left;
}

.one-half-column-right {
width:48%;
float:right;
}
  
  .product-grid {
    margin-top:100px;
    align-item:center;
  }
  
 .title{
   font-size:28px;
   font-weight:bold;
 }
.subtitle{
  font-size:21px;
  font-weight:bold;
  color:#0656de;
}
  .product-title{
    font-size:21px;
   font-weight:bold;
  }
.button {
        width: 300px;
        background-color: #10bed2;
        border: none;
        color: white;
        padding: 17px 28px;
        text-align: center;
        font-size: 18px;
        font-weight:400;
        font-family: poppins;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

@media only screen and (max-width: 600px) {
.one-half-column-left, .one-half-column-right, 
.one-third-column, .one-third-column-last {
float:none;
width:100%;
margin-right:0;
}
}
</style>
      
      
      
<div class="rte">
<h1 style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0106/9911/2511/files/internachi-home-inspector-newsletter_7_480x480.png?v=1597958873" alt="" width="150" height="150" style="display: block; margin-left: auto; margin-right: auto;" /> SPECIAL PRICE for interNACHI HOME INSPECTORS!</h1>
  <p class="subtitle" style="text-align: center;">EMPOWER YOUR INSPECTION WITH THE RIGHT RADON MONITOR</p>


  <div class="product-grid">
<div class="one-half-column-left">
<img src="https://cdn.shopify.com/s/files/1/0106/9911/2511/products/bag_device_certificate.jpg?v=1593798902" style="float: left;" width="759" height="759" /></div>
<div class="one-half-column-right">
  <p class="title">RADONEYE PRO $715.50 (reg.$795)</p>
  
<p class="subtitle">with Discount code: interNACHI20</p>

<ul>
<li>
<div>Onboard ultra-sensitive 30cph(count per hour) instrumentation for &gt;8X accuracy</div>
</li>
<li>
<div>WiFi and Bluetooth enabled for remote monitoring capability</div>
</li>
<li>
<div>Easy report generation with continuous monitoring capability</div>
</li>
</ul>
  
    <div style="margin-bottom:20px;">*Free standard shipping within US</div>
 
  <div><a href="https://ecosense.io/products/radoneye-pro" target="_blank" title="https://ecosense.io/products/radoneye-pro" rel="noopener noreferrer" class="button"><b>SHOP NOW</b></a></div>

<div></div></div>
  </div>
<br style="clear:both;" />
  <iframe width="560" height="315" src="https://www.youtube.com/embed/oO8RNql6ZAw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br style="clear:both;" />

  <p class="title" style="text-align: center;">Are you interested in earning commission? <a href="https://ecosense.io/pages/ecosense-referral-club"><u>Click here<u></a> </p>
  <div class="product-grid">
    <div class="one-half-column-right"> 
      <h3><strong><iframe width="560" height="315" src="https://www.youtube.com/embed/X75u8fHUG2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></strong></h3>
    </div>
    <div class="one-half-column-left">
  
      <p class="title">ECOSENSE REFERRAL CLUB </p>
      <p class="subtitle">Partner With Us to Earn Cash</p>

<p><strong><span>Join the Ecosense Referral Club to earn commissions every time</span><br /><span>your referees buy Ecosense's industry-leading smart radon detectors. </span></strong></p>
<ul class="referral-list">
<li>Save lives by increasing radon awareness with Ecosense</li>
<li>Generate new revenue $$ by joining Ecosense Referral Club</li>
<li>You enjoy commission and your friends get discounted price</li>
</ul>
      <h5>Anyone can join the Ecosense Referral Club! <a href="https://ecosense.io/pages/ecosense-referral-club"><u> Learn more</u></a></h5> 
  
<h3 class="container" style="text-align: start;"></h3>
<div><a href="https://ecosense.io/pages/referral-panel#registration" target="_blank" title="https://ecosense.io/referral/registration" rel="noopener noreferrer" class="button"><b>Apply Now</b></a></div>
<h3 class="container" style="text-align: start;"></h3>
<p style="font-size: 21px;"> </p>
</div>
    </div>

    </div>
  
      
